homeserver: "https://relaysms.me"
homeserver_domain: "relaysms.me"
keystore_filepath: "db/users.db"
server:
  port: 8080
  host: "0.0.0.0"
  tls:
    crt: ""
    key: ""
bridges:
  - signal:
      botname: "@signalbot:relaysms.me"
      cmd:
        login: "!signal login"
        failed: ""

  - wa:
      botname: "@whatsappbot:relaysms.me"
      cmd:
        login: "!wa login qr"
        failed: "Login failed: Entering code or scanning QR timed out. Please try again."
